#spyral-map {
	width: 100%;
	height: 85vh;
}

#infowindow-content{
	flex-space-between()
	flex-direction-column();
	width: 100%;
	color: #969696;
	max-width: 500px;

	&__logo, &__data{
		margin 0 10px
		flex 1
	}

	&__logo{
		order: 1
		max-width: 70px;
		img{
			width: 100%
		}
	}
	&__data{
		order: 2;
	}
	.title{
		font-weight: 400;
		font-size: 1.5em;
	}
	.g-maps-link{
		text-decoration: none;
		padding: 5px 10px;
		color: $white;
		display: inline-block;
		border-radius: 5px;
		transition background-color 0.26s ease
	}

	@media screen and (min-width $mobile){
		flex-direction-row();
		&__data, &__logo{
			order: 1
		}

		&__logo{
			max-width: 100px;
		}
	}

	&.purple_marker {
		.title {
			color: $dark-purple !important;
		}
		.g-maps-link{
			background-color: $dark-purple
			&:hover{
				background-color: darken($dark-purple, 25%)
			}
		}
	}

	&.green_marker {
		.title {
			color: $green !important;
		}
		.g-maps-link{
			background-color: $green
			&:hover{
				background-color: darken($green, 25%)
			}
		}
	}

	&.blue_marker {
		.title {
			color: $blue !important;
		}
		.g-maps-link{
			background-color: $blue
			&:hover{
				background-color: darken($blue, 25%)
			}
		}
	}

	&.orange_marker {
		.title {
			color: $orange !important;
		}
		.g-maps-link{
			background-color: $orange
			&:hover{
				background-color: darken($orange, 25%)
			}
		}
	}

	&.yellow_marker {
		.title {
			color: $yellow !important;
		}
		.g-maps-link{
			background-color: $yellow
			&:hover{
				background-color: darken($yellow, 25%)
			}
		}
	}
}


.gm-ui-hover-effect {
	border-radius: 50% !important;
	color: white !important;
	top: -15px !important;
	right: -15px !important;
	opacity: 1;
	transition background-color 0.26s ease

	img {
		display: none !important;
	}

	&.purple_marker {
		background-color: $dark-purple !important;
		&:hover{
			background-color: darken($dark-purple, 25%) !important;
		}
	}

	&.green_marker {
		background-color: $green  !important;
		&:hover{
			background-color: darken($green, 25%) !important;
		}
	}

	&.blue_marker {
		background-color: $blue !important;
		&:hover{
			background-color: darken($blue, 25%) !important;
		}
		
	}

	&.orange_marker {
		background-color: $orange !important;
		&:hover{
			background-color: darken($orange, 25%) !important;
		}
	}

	&.yellow_marker {
		background-color: $yellow !important;
		&:hover{
			background-color: darken($yellow, 25%) !important;
		}
	}

	&:after {
		content: '✖';
		color: $white;
		font-size: 12px;
		line-height: 15px;
	}
}

.gm-style-iw {
	overflow: visible !important;
}

.location-pulse {
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: $light-purple;
	cursor: pointer;
	box-shadow: 0 0 0 rgba($white, 0.4);
	border: 4px solid $white;
	animation: pulse 1.75s infinite;
}

target-background(targetColor){
	targetColor = replace('#', '%23', ""+targetColor);
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(s("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M256 0C114.8 0 0 114.8 0 256s114.8 256 256 256 256-114.8 256-256S397.2 0 256 0zm24.8 461v-56.3h-49.5V461c-94.1-11.3-169-86.2-180.3-180.2h56.3v-49.5H51c11.3-94.1 86.2-169 180.2-180.3v56.3h49.5V51c94.1 11.3 168.9 86.1 180.2 180.2h-56.3v49.5h56.3c-11.2 94.1-86.1 169-180.1 180.3z' fill=%s /></svg>", targetColor));
}

#my-location-control{
	&__icon{
		width: 100%;
		height : 100%;
		opacity: 0.7;
		transition: opacity 0.2s;
		target-background(#333333);
	}
	&:hover{
		#my-location-control__icon{
			opacity: 1;
		}
	}
	&.active{
		#my-location-control__icon{
			opacity: 1;
			target-background($light-purple);
		}
	}
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba($light-purple, 1);
	}

	70% {
		box-shadow: 0 0 0 15px rgba($light-purple, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba($light-purple, 0);
	}
}
