#product-main-color-sample{
    height: 30px;
    width: 30px;
    display: inline-block;
    border-radius: 5px;
    vertical-align: middle;
}
#product-main-color-sample.purple{
    background-color: #aa3a8d;
}
#product-main-color-sample.green{
    background-color: #4ec978;
}
#product-main-color-sample.orange{
    background-color: #ff543a;
}
#product-main-color-sample.blue{
    background-color: #1c73ff;
}
#product-main-color-sample.yellow{
    background-color: #f8c600;
}